.choice-item {
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.choice-item-inner {
	display: flex;
	height: 80%;
	width: 80%;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	background-color: rgb(247, 247, 247);
}

.choice-item-inner-shadow {
	box-shadow: 0.7rem 1.7rem 0.29rem -1.3rem rgba(0, 0, 0, 0.33) inset;
}

.choice-item-container:nth-child(4) {
	margin: 0 auto;
}

.paper-shadow {
	box-shadow: 0.08rem 0.3rem hsla(230, 89%, 40%, 1);
}

.rock-shadow {
	box-shadow: 0.08rem 0.3rem hsla(349, 70%, 41%, 1);
}

.scissor-shadow {
	box-shadow: 0.08rem 0.3rem hsla(40, 84%, 41%, 1);
}

@media only screen and (max-width: 375px) {
	.choice-item {
		height: 7rem;
		width: 7rem;
	}
}

@media only screen and (min-width: 376px) and (max-width: 1366px) {
	.choice-item {
		height: 10rem;
		width: 10rem;
	}
}

@media only screen and (min-width: 1367px) {
	.choice-item {
		height: 13rem;
		width: 13rem;
	}
}
